/* Miscellanious */
body{
    padding:0;
    margin:30%;
    margin-top:0;
    font-size:1em;
    color:white;
    cursor:default;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-image:url(../img/pattern.png);
}

/* Header */
header{
    text-align:center;
}

/* Nav */
nav{
    margin-bottom:20px;
}
nav ul{
    margin:0;
    padding:0;
    display:block;
    background:rgba(0,0,0,0.7);
    height:50px;
}
nav li{
    display:block;
    float:left;
    line-height:50px;
    text-align:center;
    width:50%;
}

nav li:hover{
    transition:all 1s ease;
    background:rgba(0,0,0,1);
    cursor:pointer;
}

/* Section */
section{
    margin-bottom:20px;
    text-align:left;
    padding:20px;
    background:rgba(0,0,0,0.7);
}

/* Footer */
footer{
    padding:20px;
    clear:both;
    background:rgba(0,0,0,0.7);
}
