<!DOCTYPE HTML>
<html lang="en" ng-app="LSApp">
    <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Dev</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>
	<link rel="stylesheet" href="css/index.css">
    </head>
    <body ng-controller="LSController">
	<header>
	    <h1 id="title">LeafScript</h1>
	    <h3>Anonymous file sharing.</h3>
	</header>
	<nav>
	    <ul>
		<li ng-hide="loggedIn" ng-click="onlyShow('login')">Log in</li>
		<li ng-hide="loggedIn" ng-click="onlyShow('register')">Register</li>
	    </ul>
	</nav>
	<section>
	    <article ng-show="display['welcome']">
		<h2>Welcome to LeafScript!</h2>
		<p>This site is used for sharing encrypted files. It may also be used for communication between users.</p>
	    </article>
	    <article ng-show="display['login']">
		<h3>LOGIN</h3>
		Username:
		<input type="text">
		<br>
		Password:
		<input type="password">
	    </article>
	    <article ng-show="display['register']">
		<h3>REGISTER</h3>
		Username:
		<input type="text">
		<br>
		E-mail:
		<input type="email">
		<br>
		Password:
		<input type="password">
	    </article>
	</section>
	<footer>
	    All source code on <a href="https://github.com/ytlas">my github profile</a>.
	</footer>
    </body>
    <script src="js/index.js"></script>
</html>
